html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: grey;
}

.top-section {
  background-color: rgb(25, 217, 35);
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  .main-header {
    display: flex;
    align-items: center;

    h1 {
      flex: 1;
      text-align: center;
      font-family: "Cinzel Decorative", sans-serif;
      font-size: 3em;
      margin-left: 1em;
    }

    img {
      height: 3.5em;
      width: 3.5em;
      margin-right: 1em;
    }
  }

  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    height: 3em;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    margin: 0.4em;
    margin-top: 0;

    span {
      margin: 2em;
    }

    a {
      margin: 2em;
      text-decoration: none;
    }

    a:link {
      color: inherit;
    }

    a:visited {
      color: inherit;
    }
  }
}

.bottom-section {
  display: flex;
  background-color: rgb(25, 217, 35);
  margin-bottom: 1em;

  h2 {
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 2em;
    text-align: center;
  }

  p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3em;
    margin: 0.5em;
  }

  .welcome-section {
    background-color: greenyellow;
    margin: 0.8em;
    margin-right: 0em;
    flex: 2;
  }

  .photos-section {
    background-color: greenyellow;
    margin: 0.8em;
    flex: 1;
    display: flex;
    flex-direction: column;

    .photos-grid {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      margin-bottom: 0.5em;

      img {
        height: 11em;
        width: 11em;
      }
    }
  }
}

.footer-section {
  background-color: rgb(25, 217, 35);
  flex: 1;

  p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3em;
    margin: 1em 0.5em;
  }
}
